.Buttons {
    background: rgba(255, 255, 255, .7);
    border-radius: 20px;
    padding: 20px;
}

.shop-buttons {
    display: block;
    background: none;
    border: 0px;
    font-size: 18px;
    font-style: italic;
}